<mat-toolbar>  
    <mat-toolbar-row class="nav" routerLinkActive="active">
        
      <button mat-button routerLink="/home" class="list">Home</button>
      <button mat-button routerLink="/colors" class="list">Mezclar colores</button>&nbsp;  &nbsp;

    </mat-toolbar-row>
  
    
  </mat-toolbar>