<header></header>

<div class="example-container">
        <h2 style="text-align:center;">MEZCLANDO COLORES</h2>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Seleccione color 1 a mezclar</ng-template>
            <mat-form-field>
                <mat-select [(ngModel)]="primerColor" placeholder="color 1" [(value)]="selected" formControlName="firstCtrl"
                    required>
                    <mat-option *ngFor="let color of colors" [value]="color.name" [ngStyle]="{'background-color':color.value}">{{color.nameFront}}</mat-option>
                </mat-select>

            </mat-form-field>

            <div>
                <button mat-stroked-button color="primary" matStepperNext>Click para elegir color 2</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Seleccione color 2 a mezclar</ng-template>
            <mat-form-field>
                <mat-select [(ngModel)]="segundoColor" placeholder="color 2" formControlName="secondCtrl" required>
                    <mat-option *ngFor="let color of colors2" [value]="color.name" [ngStyle]="{'background-color':color.value}">{{color.nameFront}}</mat-option>
                </mat-select>

            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Regresar</button>
                <button mat-button matStepperNext (click)="getVlue()">Mezclar colores</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <br /> <br /> <br />
        <ng-template matStepLabel >Resultado</ng-template>
        El resultado del color {{primerColor}} y el segundo color {{segundoColor}} la mezcla es: <mat-chip-list>
            <mat-chip [ngStyle]="{'background-color':resultingColorHexa}">{{resultingColor}}</mat-chip>
        </mat-chip-list>
        <br /> <br /> <br />
        <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button (click)="stepper.reset()">Mezclar de nuevo</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
</div>


<mat-accordion class="accordion">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Listado de colores
            </mat-panel-title>
            <mat-panel-description>
                Click para ver los colores
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-chip-list>
            <h3>Colores primarios   </h3>
            <mat-chip class="colorsList" [ngStyle]="{'background-color': '#ff3300'}">Rojo</mat-chip>
            <mat-chip class="colorsList" [ngStyle]="{'background-color': '#0000FF'}">Azul</mat-chip>
            <mat-chip class="colorsList" [ngStyle]="{'background-color': '#FAE405'}">Amarillo</mat-chip>
            <br /> <br /> <br />
            <mat-divider></mat-divider>
        </mat-chip-list>
        <mat-chip-list>
            <h3>Colores secundarios   </h3>
            <mat-chip [ngStyle]="{'background-color': '#088A29'}">Verde</mat-chip>
            <mat-chip [ngStyle]="{'background-color': '#FFA000'}">Naranja</mat-chip>
            <mat-chip [ngStyle]="{'background-color': '#660099'}">Morado</mat-chip>
        
          </mat-chip-list>
    </mat-expansion-panel>
    
</mat-accordion>
<br /> <br /> <br />
<button mat-button routerLink="/home"  class="exit">Salir</button>
