.example-panel-red .mat-select-panel {
background: rgba(255, 0, 0, 0.5);
}

.example-panel-green .mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue .mat-select-panel {
  background: rgba(0, 0, 255, 0.5);
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .accordion {
    left: 450%;
  }
.exit {
  font-size: 1.2em;
  color: white;
  background-color: blue;
  display:block;
  left: 450px;
      margin-top:35px;
      width:30%;
}

.colorsList{
  color: white;
  background-color: #ff3300;
}
