
.container {
    /* The image used */
    background-image: url("../../../assets/fondo.jpg");

    /* Full height */
    height: 85%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    position:absolute;
left:550px;
color:white;
font-size: 5em;
position:fixed;
left:50px;

}
